<% content_for :heading, "Actividad" %>

<p>
  <strong>Nombre:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Precio:</strong>
  <%= number_to_currency(@activity.price.amount) %>
</p>

<%= link_to 'Editar', edit_activity_path(@activity), class: "btn btn-primary me-3" %>
<%= link_to t(:back), activities_path, class: "btn btn-secondary" %>
